<div class="container" style="margin-top: 2%;">
  <form class="card text-center p-5">
    <h1>REGISTRO</h1>

    <div class="mb-3">
      <label class="form-label" style="float: left"> Nombre* </label>
      <input
        type="text"
        class="form-control"
        placeholder="nombre"
        [formControl]="nombre"
      />
    </div>

    <div>
      <p
        *ngIf="nombre.errors && nombre.dirty"
        style="margin: -4%"
      >
        <small
          *ngIf="nombre.hasError('required')"
          style="color: red"
          >El nombre no puede ir vacío</small
        >
        <small
          *ngIf="nombre.hasError('pattern')"
          style="color: red"
          >Solo se permiten caracteres de la A a la Z</small
        >
      </p>
    </div>

    <div class="mb-3">
      <label class="form-label" style="float: left"> Apellido* </label>
      <input
        type="text"
        class="form-control"
        placeholder="apellido"
        [formControl]="apellido"
      />
    </div>

    <div>
      <p
        *ngIf="apellido.errors && apellido.dirty"
        style="margin: -4%"
      >
        <small
          *ngIf="apellido.hasError('required')"
          style="color: red"
          >El apellido no puede ir vacío</small
        >
        <small
          *ngIf="apellido.hasError('pattern')"
          style="color: red"
          >Solo se permiten caracteres de la A a la Z</small
        >
      </p>
    </div>

    <div class="mb-3">
      <label class="form-label" style="float: left"> Email* </label>
      <input
        type="email"
        class="form-control"
        placeholder="ejemplo@mail.com"
        [formControl]="email"
      />
    </div>

    <div>
      <p
        *ngIf="email.errors && email.dirty"
        style="margin: -4%"
      >
        <small
          *ngIf="email.hasError('required')"
          style="color: red"
          >El email no puede ir vacío</small
        >
        <small
          *ngIf="email.hasError('pattern')"
          style="color: red"
          >Respete el formato de email</small
        >
      </p>
    </div>

    <div class="mb-3">
      <label class="form-label" style="float: left"> Dirección de billetera virtual </label>
      <input
        type="text"
        class="form-control"
        placeholder="direccion"
        [formControl]="wallet"
      />
    </div>

    <div>

        <small
          *ngIf="wallet.hasError('pattern')"
          style="color: red"
          >Solo se permiten caracteres alfanumericos</small
        >

    </div>

    <div class="mb-3">
      <label class="form-label" style="float: left"> Contraseña* </label>
      <input
        type="password"
        class="form-control"
        placeholder="********"
        [formControl]="password"
      />
    </div>

    <div>
      <p
        *ngIf="password.errors && password.dirty"
      >
        <small
          *ngIf="password.hasError('required')"
          style="color: red"
          >La contraseña no puede ir vacía</small
        >
        <small
          *ngIf="password.hasError('minlength')"
          style="color: red"
          >La contraseña debe tener al menos 6 caracteres</small
        >
        <br />
        <small
          *ngIf="password.hasError('pattern')"
          style="color: red; justify-self: unset"
          >La contraseña debe tener un caracter en <strong>mayúscula</strong>,
          uno en <strong>minúscula</strong>, y un <strong>número</strong></small
        >
      </p>
    </div>

    <div class="mb-3">
      <label class="form-label" style="float: left">
        Confirmar contraseña*
      </label>
      <input
        type="password"
        class="form-control"
        placeholder="********"
        [formControl]="passwordValidate"
      />
    </div>

    <div>
      <p
        *ngIf="
          !compararContrasenias(
            password.value,
            passwordValidate.value
          )
        "
        style="margin: -4%"
      >
        <small style="color: red">Las contraseñas no coinciden</small>
      </p>
    </div>

    <label style="text-align: left; color: red">*Campos obligatorios</label>
    <button
      class="btn btn-primary btn-block mt-3"
      [disabled]="
        email.invalid ||
        password.invalid ||
        nombre.invalid ||
        apellido.invalid ||
        !compararContrasenias(
          password.value,
          passwordValidate.value
        )
      "
      (click)="registrar()"
    >
      Registrar
    </button>

    
    <label style="float: left"
      >Ya eres usuario? Volver al
      <a routerLink="/login" ><strong>Ingreso</strong></a></label
    >
  </form>
</div>
